* {
    margin:0;
	padding:0;   
}
body {
	font-family:sans-serif,helvetica;
	background:#fff url(../imagens/fundo.png) repeat-x;	
}
#container {
	width: 750px;
	margin: 0 auto;
}
#topo {
	height: 150px;
	background: url(../imagens/detalhe-topo.png) no-repeat right top;
	padding-top: 25px;
}
.logo {
	width: 152px;
	height: 66px;
	background: url(../imagens/logo.png) no-repeat center;
	text-indent: -3000px; /*é para no caso de acessibilidade,ou caso não seja possivel carregar o css aparece o nome do site*/
}
/*Barra de navegação-formatação*/
ul {
	margin:0;
	padding:0;
	list-style:none;
}
/*para formatar uma ul só a que está em cima*/
#topo ul {
	margin-top: 30px;
	background: #b10333;
    float: left;/*para não perder a cor de fundo da barra de navegação do top*/	
}
#topo ul li {
	float: left;
	
}
#topo ul a {
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color:#fff;
	background:url(../imagens/divisor.png) no-repeat left center;
}
#topo ul .primeiro a {
	background:none;
}
#topo ul a:hover {
	color: #69001d;	
}
body.home #navegação a#home,
body.home #navegação a#brasil,
body.home #navegação a#internacional,
body.home #navegação a#economia,
body.home #navegação a#saude,
body.home #navegação a#fotos,
body.home #navegação a#contatos
{
	color: #fff;
	background: #de003e;
	cursor: text;
}
/* configuração de layout de 3 colunas*/
#conteudo{
	margin-top: 60px;
	
}
#lateral{
	width:180px;
	float: left;
	margin: 0 0 20px -750px;
}
#primario{
	width: 270px;
	float: left;
	margin: 0 0 20px 195px;
	background:yellow;
}
#duas-colunas #primario{
	width: 555px;
}
#uma-colunas #primario{
	width: 750px;
	margin: 0 0 20px 0;
}
#secundario{
	width: 270px;
	float: left;
	margin: 0 0 20px 15px;
	background:green;
}

/* para cada coluna ficar no seu luga certo coloca a margin para arrumar isso*/
.caixa{
	margin: 10px 0;
	padding: 5px;
	background: #f3f3f3 url(../imagens/fundo-caixa.png);
}
h2{
	font-size: 1em;
	background: #294c71;
	color: #fff;
	padding: 5px;
}
.caixa-conteudo{
	background: #fff;
	padding: 5px;
	margin-top: 5px;
}
/* rodapé */
#conteudo-rodape{
	background: #294c71;
	padding: 20px;
}
#rodape{
	width: 750 px;
	margin: 0 auto;
	color: #fff;
}